<!DOCTYPE html>
    <head>
    <meta charset="UTF-8"/>
        <title>个人信息系统</title>
        <style>
            .wrap {
                margin-top: 150px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="wrap">
            <div id="userName"></div>
            <button id="btnLogout">登出</button>
            <div>今天气温:<span id="wendu"></span></div>
        </div>
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script src="../static/js-cookie.js"></script>

        <script>


            $(document).ready(function () {


                $.ajax({
                    url: 'http://wthrcdn.etouch.cn/weather_mini?citykey=101210701',
                    type: 'GET',
                    dataType: 'json',
                    success: function (res) {
                        $('#wendu').html(res.data.city+res.data.wendu+","+res.data.ganmao);
                    }
                });

                $.ajax({
                    url: 'http://www.weather.com.cn/data/cityinfo/101210701.html',
                    type: 'GET',
                    dataType: 'json',
                    success: function (res) {
                        $('#wendu').html('最低气温'+res.weatherinfo.temp1+res.data.temp2+",最高气温"+res.weatherinfo.temp2);
                    }
                });


                $.ajax({
                    /**personal页面登录后返回数据显示
                     * 此url是另外一个服务端传递
                     *  那个服务端需要解决跨域问题
                     *  返回json数据才能接受执行
                     */
                    url: 'http://10.30.29.70:80/profile.php',
                    type: 'GET',
                    dataType: 'json',
                    xhrFields:{withCredentials:true},
                    success: function (res) {

                        if (res.userName=="error"){
                            location.href = 'unlogin.html';
                        }else{
                            $('#userName').html(res.userName);
                        }

                    }
                })

                $('#btnLogout').click(function () {
                    $.ajax({
                        /**登出
                         * 此url前的地址是本机，端口默认=》node app.js开启端口
                         */
                        url: 'http://10.30.29.70:80/out.php',
                        type: 'POST',
                        contentType: 'application/json;charset=utf-8',
                        dataType:'json',
                        xhrFields:{withCredentials:true},
                        success: function (res) {
                            if (res.message === 'success') {
                                res.userName=null;
                                location.href = 'unlogin.html';
                            }
                        }
                    })
                })
            })
        </script>
    </body>
</html>
